body.dark{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#121212', endColorstr='#363636', GradientType=1); /* for IE */
	background: -webkit-gradient(linear, left top, right top, from(#121212), to(#363636)); /* for webkit browsers */
	background: -moz-linear-gradient(right, #121212,#363636);/* for firefox 3.6+ */
} 

div.container{
	box-shadow: 3px 3px 5px 6px #121212;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DACCFF', endColorstr='#F2EDFF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#DACCFF), to(#F2EDFF)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #DACCFF,#F2EDFF);/* for firefox 3.6+ */ 
	
	width: 750px;
	height:1020px;
	padding:50px;
	padding-top:30px;
	margin:0px auto;

	font-family: "Baskerville";
	font-size:72px;
}

div.head{
	width:100%;
	border-bottom-style: solid;
	border-bottom-color: #A09BAB;
	margin: 0px auto;
}

p.name{
	font-size:60px;
	margin: 0px auto;

}

p.desc{
	font-size:36px;
	color:#363636;
	font-style:oblique;
	margin-left:0px;
	margin: 0px auto;
}

p.contactInfo{
	font-size:24px;
	color:#363636;
	margin-right:0px;
	margin:0px auto;
}
