div.container{
	box-shadow: 3px 3px 5px 6px #9286B0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DACCFF', endColorstr='#F2EDFF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#DACCFF), to(#F2EDFF)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #DACCFF,#F2EDFF);/* for firefox 3.6+ */ 
	
	width: 850px;
	height:1100px;
	margin:0px auto;
}
