
form{
	align: center;
	box-shadow: 3px 3px 5px 6px #121212;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DACCFF', endColorstr='#F2EDFF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#DACCFF), to(#F2EDFF)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #DACCFF,#F2EDFF);/* for firefox 3.6+ */ 
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	margin-top:30px;
	width:640px;
	height:300px;
	color:#333A8A;
	font-size:48px;
}

div#search{
	margin-top:50px;
	background: white;
	border: 1px solid #ccc;
	width:70%;
	font-size:35px;
}

div.tagContainer{
	background:blue;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

label.tagLabel{
	font-size:36px;
	font-color:#fff;
	margin:5px;
}
	
	
#searchTextField{	
	display: inline-block;
	background-color:transparent;
	outline:none;
	border: none;
	font-size:36px;
	margin: 5px;
	color:#666;
}

div.autocompleteBox{
	display:none;
	background-color:white;
	border: 1px solid #777;
	color:#666;
	width:450px;
	text-align:left;
	font-size:24px;	
}

li.selected{
	
	background-color:#F2ED00;
	font-color:white;
}

ul{
	list-style-type:none;
}
body{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#121212', endColorstr='#363636', GradientType=1); /* for IE */
	background: -webkit-gradient(linear, left top, right top, from(#121212), to(#363636)); /* for webkit browsers */
	background: -moz-linear-gradient(right, #121212,#363636);/* for firefox 3.6+ */
} 
